#Arquivo que contém a senha para acesso à base de dados

#O arquivo contém o seguinte
#{
#    "env" : {
#        "MONGO_ATLAS_PASSWORD" : "<PASSWORD>"
#    }
#}

nodemon.json

#Pasta com os uploads das imagens dos produtos

uploads/*.jpeg
uploads/*.png